.flex {
    display: flex;
}
.row-wrap {
    flex-flow: row wrap;
}


.main-container {
    width: calc(300% / 4);
    height: 80%;
    background-color: aqua;
}
.sub-container {
    width: calc(100% / 4);
    background-color: orange;
    flex-flow: row wrap;
}

.sub-main, .sub-aside {
    margin: 10px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 175px;
    height: 175px;
}

.sub-main {
    width: calc(100% / 4 - 20px);
}
.sub-aside {
    width: 100%;
}